.badges-container {
    margin-top: 20px;
}

.badge {
    padding: 5px 15px;
    border-radius: 20px;
    color: #fff;
    font-weight: bold;
}

.badge-bronze {
    background-color: #cd7f32;
}

.badge-prata {
    background-color: #c0c0c0;
}

.badge-ouro {
    background-color: #ffd700;
}

.badge-platina {
    background-color: #e5e4e2;
}

.badge-diamante {
    background-color: #b9f2ff;
}